div.col {
  vertical-align: top;
  display: inline-block;
}

.itemDiv {
  display: block;
  margin-top:4px;
  min-height: 24px;
}

.itemLabel {
  display: inline-block;
  width: 60px;
}

select.itemInput {
  display: inline-block;
  width: 250px;
  margin-left:12px;
}

input.windowPosition {
  width:70px;
}

label.windowPosition {
  margin-left: 6px;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}
